@charset "utf-8";

body {padding:0 0 5rem;}
.mainSection {padding:17rem 0 0;text-align:center;}
.mainSection h1 img {width:18rem;}
.mainSection p {color:#999;}
.mainSection .txt {margin:2rem 0 1.5rem;}
.mainSection .txt span {color:#666;}
.mainSection .cop {position:fixed;right:0;bottom:4rem;left:0;}

.header {position:relative;height:5.6rem;border-bottom:.1rem solid #6eaac8;text-align:center;}
.header h1 {padding:2rem 0 0;color:#6eaac8;font-size:1.6rem;line-height:1;}
.header .back {position:absolute;top:1.4rem;left:1rem;width:1.8rem;height:3rem;background:url(../images/btn_back1.png) no-repeat;background-size:cover;font:0/0 a!important;}
.header .setup {position:absolute;top:1.6rem;right:1rem;width:2.5rem;height:2.5rem;background:url(../images/btn_setup.png) no-repeat;background-size:cover;font:0/0 a!important;}
.header .save {position:absolute;top:1.3rem;right:1rem;width:3.5rem;height:3rem;border:.2rem solid #6eaac8;border-radius:.5rem;color:#6eaac8;font-size:1.2rem;font-weight:bold;}
.header .write {position:absolute;top:1.3rem;right:1rem;width:3rem;height:3rem;padding-top:.6rem;background:#6eaac8;color:#fff;box-sizing:border-box;border-radius:.4rem;font-size:1.2rem;}
.header .mindMap {position:absolute;top:1.3rem;right:1rem;width:2.8rem;height:3.1rem;background:url(../images/btn_mind_map.png) no-repeat;background-size:cover;font:0/0 a!important;}
.header .list {position:absolute;top:1.3rem;right:1rem;width:2.8rem;height:3.1rem;background:url(../images/btn_list.png) no-repeat;background-size:cover;font:0/0 a!important;}
.header .guide {position:absolute;top:1rem;right:1rem;width:3.8rem;height:3.8rem;background:#cd1419 url(../images/btn_guide.png) no-repeat;background-size:cover;border-radius:50%;font:0/0 a!important;}

.header.group {border-color:#cd1419;}
.header.group h1 {color:#cd1419;}

[class*="signSection"] {padding:4rem 0 0;text-align:center;}
[class*="signSection"] .user {overflow:hidden;position:relative;width:11.2rem;height:11.2rem;margin:0 auto;border-radius:50%;}
[class*="signSection"] .user:after {content:"";position:absolute;top:0;right:0;bottom:0;left:0;border:.5rem solid #ccc;border-radius:50%;}
[class*="signSection"] .user img {width:100%;}
[class*="signSection"] .userId {margin:.5rem 0 0;}
[class*="signSection"] .userId span {display:inline-block;padding:.2rem .3rem;border:.1rem solid #666;line-height:1;vertical-align:middle;}
.signSectionJoin {padding-top:1.5rem;}

.inputField {margin:4.5rem 2rem 0;}
.inputField .inputTxt {width:100%;margin:0 0 2rem;border:0;border-bottom:1px solid #999;text-align:center;}
.inputField .btn {width:100%;height:4rem;margin:8rem 0 0;border:.2rem solid #999;border-radius:.5rem;color:#999;}
.signSectionJoin .inputField {margin-top:1.5rem;}
.signSectionJoin .btn {margin:3rem 0 2rem;}

.agreeBox {text-align:left;}
.agreeBox .allChk {margin-left:-.2rem;font-size:1.5rem;}
.agreeBox .allChk input[type="checkbox"] {width:1.8rem;height:1.8rem;}
.agreeBox p {position:relative;margin:.5rem 0 0;font-size:1.2rem;}
.agreeBox p a {position:absolute;top:0;right:0;padding:.5rem .5rem;background:#666;color:#fff;font-size:1.1rem;line-height:1;border-radius:.4rem;}

.termsSection  {padding:0 1.5rem;}
.termsSection h2 {margin:1.5rem 0 .5rem;font-size:1.2rem;}
.termsSection p {color:#999;font-size:1.1rem;}

.interestSection li {border-bottom:.1rem solid #6eaac8;}
.interestSection li a {position:relative;display:block;height:7rem;padding:0 1.5rem 0 7.5rem;}
.interestSection li a:before {content:"";position:absolute;top:1.5rem;left:0;bottom:1.5rem;width:.8rem;}
.interestSection li a.type1:before {background:#6eaac8;}
.interestSection li a.type2:before {background:#cd1419;}
.interestSection li a.type3:before {background:#f5af55;}
.interestSection li a.type4:before {background:#6eb487;}
.interestSection [class*="thumbType"] {position:absolute;top:1rem;left:1.8rem;width:5rem;height:5rem;overflow:hidden;border-radius:50%;}
.interestSection [class*="thumbType"]:before {content:"";position:absolute;top:0;right:0;bottom:0;left:0;border:.2rem solid #6eaac8;border-radius:50%;}
.interestSection [class*="thumbType"] img {width:100%;}
.interestSection .thumbType1:before {border-color:#6eaac8;}
.interestSection .thumbType2:before {border-color:#cd1419;}
.interestSection .thumbType3:before {border-color:#f5af55;}
.interestSection .thumbType4:before {border-color:#6eb487;}
.interestSection .title {display:block;overflow:hidden;padding:.8rem 0 .2rem;color:#1287a5;white-space:nowrap;text-overflow:ellipsis;}
.interestSection .txt {overflow:hidden;font-size:1.2rem;line-height:1.2;
    -webkit-line-clamp:2;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;word-wrap:break-word;
}

.navMenu {position:fixed;right:0;bottom:0;left:0;}
.navMenu a {float:left;width:20%;height:5rem;padding:.7rem 0 0;background:#6eaac8;text-align:center;font-size:1.1rem;box-sizing:border-box;line-height:1;}
.navMenu a + a {border-left:.1rem solid #fff;}
.navMenu a span {display:none;margin:-.1rem 0 0;}
.navMenu a:before {content:"";display:block;width:3.5rem;height:3.5rem;margin:0 auto;}
.navMenu a.interest {color:#6eaac8;}
.navMenu a.interest:before {background:url(../images/img_menu1.png) no-repeat;background-size:100% auto;}
.navMenu a.learning {color:#f5af55;}
.navMenu a.learning:before {background:url(../images/img_menu2.png) no-repeat;background-size:100% auto;}
.navMenu a.group {color:#cd1419;}
.navMenu a.group:before {background:url(../images/img_menu3.png) no-repeat;background-size:100% auto;}
.navMenu a.search {color:#6eb487;}
.navMenu a.search:before {background:url(../images/img_menu4.png) no-repeat;background-size:100% auto;}
.navMenu a.more:before {background:url(../images/img_menu5.png) no-repeat;background-size:100% auto;}
.navMenu a.active {padding-top:0;background:#fff;}
.navMenu a.active span {display:block;}
.navMenu a.more {padding-top:.7rem;}
.navMenu a.more span {display:none;}
.navMenu a.active:before {background-position:0 100%;}

.setupSection {padding:.5rem 0 0;text-align:center;}
.setupSection button {width:45%;height:3.5rem;margin:.5rem .2rem;border:.1rem solid #1287a5;border-radius:.5rem;color:#1287a5;font-size:1.2rem;}
.setupSection button.active {background:#99cccc;border-color:#99cccc;color:#fff;font-weight:bold;}

.step {display:table;width:100%;}
.step li {position:relative;display:table-cell;width:16%;height:3rem;text-align:center;vertical-align:middle;}
.step li:after {content:"";position:absolute;right:.1rem;bottom:0;left:.1rem;height:.2rem;background:#e0e0e0;}
.step li.active:after {background:#f5af55;}

.learningList li {position:relative;height:14rem;border-bottom:.1rem solid #ccc;}
.learningList li:after {content:"";position:absolute;top:2.5rem;bottom:2.5rem;left:0;width:.5rem;}
.learningList li:before {content:"";position:absolute;top:2rem;left:2.5rem;width:5rem;height:5rem;}
.learningList li a {display:block;}
.learningList .sort1:after {background:#6eaac8;}
.learningList .sort1:before {background:url(../images/img_sort1.png) no-repeat;background-size:cover;}
.learningList .sort2:after {background:#cd1419;}
.learningList .sort2:before {background:url(../images/img_sort2.png) no-repeat;background-size:cover;}
.learningList .sort3:after {background:#f5af55;}
.learningList .sort3:before {background:url(../images/img_sort3.png) no-repeat;background-size:cover;}

.learningList .title {display:block;padding:2.5rem 0 0 9rem}
.learningList .title span {display:block;color:#1287a5;font-size:1.1rem;}
.learningList .txt {display:block;margin:2rem 2rem 0 3rem;font-size:1.2rem;line-height:1.4;overflow:hidden;
text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;word-wrap:break-word;
-webkit-line-clamp:2;
}

.learningDetail .title {padding:1.5rem;border-bottom:.5rem solid #e0e0e0;font-size:1.6rem;line-height:1;}
.learningDetail .bookImg {padding:1.2rem 2rem 2.5rem;text-align:center;}
.learningDetail .bookImg img {width:100%;}
.learningDetail .bookImg figcaption {margin:2rem 0 0;text-align:left;font-size:1.2rem;line-height:1.3;}
.learningDetail .bookUser {position:relative;padding:1.2rem 0 1.2rem 1rem;border-top:.1rem solid #e1e1e1;border-bottom:.5rem solid #e0e0e0;}
.learningDetail .bookUser .thumb {position:relative;display:inline-block;width:5rem;height:5rem;margin:0 1rem 0 0;border-radius:50%;overflow:hidden;vertical-align:middle;}
.learningDetail .bookUser .thumb img {width:100%;}
.learningDetail .bookUser .thumb:after {content:"";position:absolute;top:0;right:0;bottom:0;left:0;border:.2rem solid #1287a5;border-radius:50%;}
.learningDetail .bookUser [class*="point"] {overflow:hidden;position:absolute;top:2.8rem;right:2rem;width:10rem;height:1.7rem;background:url(../images/img_point.png) no-repeat;background-size:100% auto;font:0/0 a!important;}
.learningDetail .bookUser [class*="point"]:after {content:"";position:absolute;top:0;left:-100%;width:100%;height:100%;background:#fff url(../images/img_point.png) no-repeat 0 100%;background-size:100% auto;}
.learningDetail .bookUser .point1:after {left:-83%;}
.learningDetail .bookUser .point2:after {left:-62.8%;}
.learningDetail .bookUser .point3:after {left:-41%;}
.learningDetail .bookUser .point4:after {left:-20%;}
.learningDetail .bookUser .point5:after {left:0;}
.learningDetail .bookInfo {position:relative;padding:2rem 0 0;}
.learningDetail .bookInfo .img {display:block;text-align:center;}
.learningDetail .bookInfo .img img {width:80%;}
.learningDetail .count {position:relative;padding:1rem .5rem .5rem;border-bottom:.1rem solid #e0e0e0;font-size:1.2rem;}
.learningDetail .count span {display:inline-block;margin:0 0 0 .5rem;}
.learningDetail .count .view {position:absolute;right:1rem;bottom:.5rem;}
.learningDetail .bookInfo .txt {padding:1rem 1.5rem;font-size:1.2rem;}
.learningDetail .bookInfo .share {position:absolute;top:1.5rem;right:1.2rem;}
.learningDetail .bookInfo .share .btn {width:2.1rem;height:2.5rem;background:url(../images/btn_share.png) no-repeat;background-size:cover;font:0/0 a!important;}
.learningDetail .bookInfo .share .list {display:none;position:absolute;top:3rem;right:0;padding:.5rem 1rem;background:#fff;border:.1rem solid #ccc;font-size:1.2rem;}
.learningDetail .bookInfo .share .list li {padding:.5rem 0;border-top:.1rem solid #ccc;text-align:center;}
.learningDetail .bookInfo .share .list li:first-child {border:0;}
.learningDetail .btns {display:table;width:100%;background:#f4f4f4;border-top:.1rem solid #ccc;border-bottom:1.5rem solid #e0e0e0;}
.learningDetail .btns li {display:table-cell;width:25%;height:4rem;vertical-align:middle;}
.learningDetail .btns a,
.learningDetail .btns button {display:block;width:3rem;height:3rem;margin:0 auto;font:0/0 a!important;}
.learningDetail .btns .like {background:url(../images/btn_like.png) no-repeat;background-size:100% auto;}
.learningDetail .btns .reply {background:url(../images/btn_reply.png) no-repeat;background-size:100% auto;}
.learningDetail .btns .save {height:3.2rem;background:url(../images/btn_save.png) no-repeat;background-size:100% auto;}
.learningDetail .btns .point {background:url(../images/btn_point.png) no-repeat;background-size:100% auto;}

.replyList .nonList {position:absolute;top:50%;right:0;left:0;transform:translateY(-80%);text-align:center;line-height:1.2;}
.replyList ul {position:absolute;top:0;right:0;bottom:4rem;left:0;overflow:auto;-webkit-overflow-scrolling:touch;}
.replyList li {position:relative;min-height:7rem;padding:1rem 0 1rem 6rem;border-bottom:.1rem solid #e5e5e5;box-sizing:border-box;}
.replyList li .thumb {overflow:hidden;position:absolute;top:50%;left:.8rem;transform:translateY(-50%);width:4.5rem;height:4.5rem;border-radius:50%;}
.replyList li .thumb:before {content:"";position:absolute;top:0;right:0;bottom:0;left:0;border:.2rem solid #ccc;border-radius:50%;}
.replyList li .thumb img {width:100%;}
.replyList li .date {margin:0 0 0 1rem;font-size:1.2rem;}
.replyList li .txt {display:block;margin:.5rem 0 0;color:#333;line-height:1.2;}

.replySection {position:fixed;top:7rem;right:1.5rem;bottom:2rem;left:1.5rem;background:#fff;border:.1rem solid #ccc;border-radius:.5rem;}
.replySection .replyInput {position:absolute;right:0;bottom:0;left:0;padding:0 9rem 0 0;border-top:.1rem solid #ccc;}
.replySection .replyInput .inputTxt {width:100%;height:4rem;border:0;background:none;}
.replySection .replyInput .picture {position:absolute;top:1.1rem;right:6rem;width:2.5rem;height:1.8rem;font:0/0 a!important;background:url(../images/btn_picture.png) no-repeat;background-size:cover;}
.replySection .replyInput .btn {position:absolute;top:.8rem;right:1rem;width:4rem;height:2.5rem;background:#ccc;color:#fff;}

.allViewSection {padding:2rem;color:#999;font-size:1.2rem;}
.allViewSection h2 {position:relative;margin:0 0 1rem;color:#333;font-size:1.2rem;}
.allViewSection h2:before {content:"";position:absolute;top:.2rem;left:-2rem;width:1.4rem;height:1.4rem;background:#6eaac8;border-radius:0 .2rem .2rem 0;}
.allViewSection h2 ~ h2 {margin-top:2rem;}

.pointBox {margin:2rem 1.5rem 5rem;border:1px solid #999;border-radius:.8rem;}
.pointBox .tit {padding:1rem 0;color:#999;text-align:center;font-size:1.6rem;}
.pointBox .starPoint {margin:2rem 0 6rem;text-align:center;}
.pointBox .starPoint [class*="point"] {position:relative;overflow:hidden;display:inline-block;width:20rem;height:3.05rem;background:url(../images/img_point2.png) no-repeat;background-size:100% auto;font:0/0 a!important;vertical-align:middle;}
.pointBox .starPoint [class*="point"]:after {content:"";position:absolute;top:0;bottom:0;left:-100%;width:100%;background:#fff url(../images/img_point2_on.png) no-repeat 0 100%;background-size:100% auto;}
.pointBox .starPoint .point5:after {left:0;}
.pointBox .starPoint .point4:after {left:-21%;}
.pointBox .starPoint .point3:after {left:-42%;}
.pointBox .starPoint .point2:after {left:-63%;}
.pointBox .starPoint .point1:after {left:-84%;}
.pointBox .starPoint .sel {display:inline-block;width:2.5rem;height:2.2rem;margin:0 0 0 .5rem;border:.1rem solid #999;background:url(../images/bg_select.png) no-repeat 50% 50%;background-size:60% auto;vertical-align:-.4rem;}
.pointBox .starPoint .sel select {width:100%;height:100%;opacity:0;}
.pointBox .btn {width:100%;overflow:hidden;}
.pointBox .btn button {float:left;width:50%;height:4.5rem;border-top:.1rem solid #999;}
.pointBox .btn button + button {border-left:.1rem solid #999;}

.groupList li {position:relative;margin:1.5rem 1rem 0;padding:0 1.5rem 1rem;background:#e2e2e2;border-radius:.5rem;}
.groupList li:before {content:"";position:absolute;top:.5rem;left:1rem;width:5rem;height:5rem;}
.groupList .sort1:before {background:url(../images/img_sort1.png) no-repeat;background-size:cover;}
.groupList .sort2:before {background:url(../images/img_sort2.png) no-repeat;background-size:cover;}
.groupList .sort3:before {background:url(../images/img_sort3.png) no-repeat;background-size:cover;}
.groupList li .title {display:block;height:5rem;padding:2rem 0 0 5rem;color:#1287a5;box-sizing:border-box;}
.groupList li .txt {display:block;font-size:1.2rem;}
.groupList li .count {display:block;text-align:right;font-size:1.2rem;}
.groupList li .count .like {margin:0 0 0 1rem;}
.groupList li .count .like span {display:inline-block;width:1.8rem;height:1.8rem;background:url(../images/btn_like.png) no-repeat;background-size:100% auto;font:0/0 a!important;vertical-align:middle;}
.groupList li .link {position:absolute;top:2rem;right:1rem;width:2.2rem;height:2.2rem;background:url(../images/btn_group.png) no-repeat;background-size:cover;font:0/0 a!important;}
